* , :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

:root {
    --color--text: #000d3a;
    --color--primary: rgba(81, 155, 221, 0.62);
    --color--primary--dark: #104d8c;
}

body{
    font-size: 1.6rem;
    background-color: #e3e3e3;
}

input, textarea{
    outline: none;
    border: none;
    background: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--color--text);
}

li,ul{
    list-style: none;

}

a.hover{
    color: var(--color--primary--dark) ;
}

h1{
    color: var(--color--text);
    font-size: 4rem;
}

h2{
    color: var(--color--text);
    font-size: 3.5rem;
}

h3{
    color: var(--color--text);
    font-size: 2.5rem;
}

.main{
    display: flex;
    justify-content: flex-start;
    gap: 50rem;

}


.sidebar{
    background-color: var(--color--primary--dark);
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    border-radius: 40px 0 0 0;
    padding: 4rem 1rem;
    position: sticky;
    top: 0;
    right: 0;
    transition: all 0.5s;
}

.sidebar *{
    color: white;
}

.sidebar-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    overflow: hidden;
}

.sidebar__logo{
    display: flex;
    align-self: center;
}

.sidebar__nav a{
    display: flex;
    align-items: center;
    gap: 2rem;
}


.sidebar__nav ul{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-right: 1.6rem;
}

.sidebar__version{
    display: flex;
    justify-content: space-between;
}



.sidebar__version svg{
    width: 1.9rem;
    height: 1.6rem;
    transform: rotate(90deg);
    cursor: pointer;
    transition: 1s;
}


.main__content{
    height: 200vh;
}

.mini--sidebar{
    width: 7rem;

}

.sidebar.mini--sidebar h1{
    font-size: 2rem;
}

.sidebar.mini--sidebar .version__number{
    display: none;
}

.sidebar.mini--sidebar .sidebar__version svg{
    transform: rotate(270deg);
}

/*div{*/
/*    border: 1px solid var(--color--text);*/
/*}*/